<div class = "card" id="chartCard">
    <div class = "card-content">
        <div class = "content">
            <canvas id = "ChartCanvas"></canvas>
        </div>
    </div>
    <%- include('dropdowns.ejs') %> 
</div>
<%- include('info.ejs') %> 

 