<div class="notification" >
    <div class="content" id="bigCoinInfo">
        <div class="centeredDiv" >
            <div id="basicCoinInfo"> 
                <h1 id="coinName"></h1>
                <img id="bigImage" src="" alt="LOADING" style="height:128px; width:128px;">
                <h3 id = "currentPriceInfo"> LOADING</h3>
                <p>Вкупна пазарна вредност: </p><h3 style="margin-top:10px;" id = "marketCapInfo"> LOADING</h3>
            </div>
            <div>
                <blockquote id = "coinDesc" style = "text-align: right;">
                </blockquote>
                <div id= "communityInfoPanelContainer">
                    <div id= "communityInfoPanel">
                        <h2 id="rankInfo">
                            Ранк: 
                        </h2> 
                        <h2 id="hashInfo">
                            Хешинг алгоритам: 
                        </h2>
                        <h3 id="socialMedia">
                            
                        </h3>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        <canvas id = "ChartCanvas" class = "coinChart"></canvas>
    </div>
    
  </div>