<div id = "tableContainer">


    
  
    <table class = "table is-striped is-hoverable">
        <thead>
            <th>#</th>
            <th>Криптовалута</th>
            <th>Цена</th>
            <th>1 час</th>
            <th>24 часа</th>
            <th>7 дена</th>
            <th>24 часа волумен</th>
            <th>Вкупна пазарна вредност</th>
        </thead>
        <tbody id = "TableInsert">
            <progress id = "loadBar" class="progress is-link"  max="100">30%</progress>
        </tbody>

    </table>
</div>

<div id = "navigationContainer" class = "card">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous" id="previous">Претходно</a>
        <a class="pagination-next" id="next">Наредно</a>
        <ul class="pagination-list" id="pageList">
         
        </ul>
    </nav>
</div>
