<div class="card" id = "infoCard">
    <div class="card-content">
        <div class="content">
            <nav class="level">
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Активни КриптоВалути</p>
                    <p class="title" id="activeCrypto"></p>
                  </div>
                </div>
                <div class="level-item has-text-centered ">
                  <div>
                    <p class="heading" >Bitcoin</p>
                    <p class="title" id="bitcoinPrice"></p>
                  </div>
                </div>
                <div class="level-item has-text-centered ">
                  <div>
                    <p class="heading" >Ethereum</p>
                    <p class="title" id="etherumPrice"></p>
                  </div>
                </div>
                
              </nav>
        </div>
    </div>
</div>